* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  background: #0077b6;
  height: 70px;
  width: 100%;
  top: 0;
  position: sticky;
  z-index: 10;
}

label.logo {
  color: white;
  font-size: 25px;
  line-height: 70px;
  padding: 0 30px;
  font-weight: bold;
}

label.logo a {
  color: white;
  font-weight: bold;
  cursor: pointer;
}

label.logo a:hover {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  background: #0077b6;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 70px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 16px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #003459;
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 70px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 1110px) {
  label.logo {
    font-size: 22x;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 15px;
  }
}
@media (max-width: 1000px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #4361ee;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: #003459;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

@media (max-width: 400px) {
  label.logo {
    font-size: 18px;
  }
  .checkbtn {
    font-size: 20px;
  }
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
  text-align: center;
}
h1 {
  margin: 40px;
  color: #5995fd;
}
h4 {
  margin-bottom: 40px;
}

.main {
  display: flex;
}
img {
  width: 800px;
  margin-bottom: 200px;
}
#contact {
  position: relative;
  margin-left: auto;
  margin-right: 150px;
}

#contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
}

#contact-box form {
  width: 100%;
}

#contact-box label {
  font-size: 1.3rem;
}

#contact-box input,
#contact-box textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 9px;
  font-size: 1.1rem;
}
#button {
  display: flex;
  width: 50%;
  margin: 0 auto;
}
.btn {
  margin-top: 20px;
  background-color: #5995fd;
  cursor: pointer;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  transition: 0.1s;
  border: solid 3px #4d84e2;
}
.btn:hover {
  background-color: white;
}

@media (max-width: 1358px) {
  #contact {
    margin-right: 50px;
  }
}
@media (max-width: 1144px) {
  img {
    width: 600px;
  }
}
@media (max-width: 911px) {
  img {
    width: 200px;
  }
}

@media (max-width: 500px) {
  img {
    display: none;
  }
  #contact-box {
    margin-left: 20px;
  }
}

footer {
  background-color: #4481eb;
  padding: 9px;
  text-align: center;
}
